Debug

Release

ipch

/jumpnbump.sdf
/jumpnbump.opensdf

/contrib/vs2010/jumpnbump.suo
/contrib/vs2010/jumpnbump.opensdf

/contrib/vs2010/jumpnbump.sdf

/contrib/vs2010/jnb.sdf

/contrib/vs2010/jnb.suo
